{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}

{% block _main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Guardar</button>
    {{ form_end(form) }}
{% endblock %}
